<!DOCTYPE html>
<html>
<head>
<style>
body{
background-color: lightblue;
}

h1{
color: darkblue;
text-align: center;
}
</style>
</head>

<body>

<h1>Welcome to My Website</h1>
<p>This is a simple CSS example.</p>

</body>
</html>
